@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(241, 132, 255);
    width: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    font-size: 19px;
}
nav img{
    width: 250px;
}
nav a{
    text-decoration: none;
    text-shadow: 16px;
    color: white;
}
.card{
    width: 200px;
    margin: 10px;
    padding: 50px;
    box-shadow: 1px 5px 10px #8d8d8d;
}
.card img{
    width: 250px;
}
.card a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    padding: 9px;
}
.tarjetas{
    display: flex;
    justify-content:center;
}
.Catalogo{
    padding: 5px;
}
.Catalogo h1{
    padding: 20px;
}
.destacada{
    display: flex;
    justify-content: center;
}
.card-destacada{
    padding: 50px;
    margin: 40px;
    width: 900px;
    border-radius: 2px;
    box-shadow: 1px 5px 10px #8d8d8d;
    display: flex;
    justify-content: first baseline;
}
.card-destacada img{
    width: 250px;
}
.destacada-content{
    padding: 20px;
}
.destacada-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    padding: 9px;
    margin: 10px;
}
footer{
    background-color: rgb(168, 168, 168);
    text-align: center;
    color: rgb(88, 88, 88);
    padding: 65px;
}