@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
}
header{
    background-color: rgb(241, 132, 255);
    width: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    font-size: 19px;
}
nav img{
    width: 250px;
}
nav a{
    text-decoration: none;
    text-shadow: 16px;
    color: white;
}